.container{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    margin:20px auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.left-container{
    width:50%;
    height: auto;
    background-color: #caccd1;
}

.right-container{
    width:50%;
    height: auto; 
}
@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
        flex-direction: column;
    }
    .left-container{
        width:100%;
        height: auto;
        background-color: #caccd1;
    }
    .right-container{
        width:100%;
        height: auto; 
    }
  }